@using CustomModels.Models.UserManagement
@using CaptchaLib
@using ECDataUI.Helper;

@model CustomModels.Models.Alerts.ChangePasswordNewModel



@*@{
        Layout = "~/Views/Shared/_LayoutPageWithoutMenus.cshtml";
    }*@

@{
    int iTabIndex = 1;

}



<script src="~/Areas/AnywhereEC/Scripts/AnywhereECForgotPassword.js"></script>
<script src="~/Scripts/CommonJS/md5.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div class="" style="width:100%; margin:0 auto;">
        <div class="">
            <div class="row">
                <div class="panel panel-default" id="" style="width: 100%; box-shadow: 5px 5px 10px #d0d3d4;">

                    <div class="panel-body">
                        <div class='row well-custom' style="height: 35px; padding-top: 10px;">
                            <span id="" style="margin-left: 05px;font-size:120%;padding-left:1%;"></span>
                            <span class="" id="panelHeadingForForm" style="color: #FFF;font-size:120%;">Change AnywhereEC Login Password</span>
                            <div class="col-md-12">
                                <br /><br /><br />

                                <div style="border: solid 1px #d1d1d1;border-radius:5px;">
                                    <br>
                                    <fieldset>
                                        <form method="POST" id="changePasswordFormID">


                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true)

                     

                                                    @Html.HiddenFor(model => model.Password, new { @id = "PasswordTxtId" })
                                                    @Html.HiddenFor(model => model.EncryptedUId, new { @id = "encryptedId" })
                                            <br />
                                            <div class='row'>
                                                <div class='col-md-3 col-xs-3'></div>


                                                <div class='col-md-3 col-xs-3'>
                                                    &nbsp;&nbsp; @Html.LabelFor(model => model.NewPassword, new { @class = "PaddingTop10" }, Mandatory.Yes)
                                                </div>
                                                <div class='col-md-3 col-xs-3'>
                                                    <div class="editor-field focus">
                                                        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", @id = "txtNewPassword", @placeholder = "Enter New Password", @maxlength = 20, @tabindex = @iTabIndex++, @autocomplete = "off" })
                                                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class='col-md-3 col-xs-3'></div>
                                            </div>

                                            <br />



                                            <div class='row'>
                                                <div class='col-md-3 col-xs-3'></div>
                                                <div class='col-md-3 col-xs-3'>
                                                    &nbsp;&nbsp; @Html.LabelFor(model => model.ConfirmPassword, new { @class = "PaddingTop10" }, Mandatory.Yes)
                                                </div>
                                                <div class='col-md-3 col-xs-3'>
                                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control ", @id = "txtConfirmPassword", @placeholder = "Enter Confirm Password", @maxlength = 20, @tabindex = 4, @autocomplete = "off" })
                                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                                </div>
                                                <div class='col-md-3 col-xs-3'></div>
                                            </div>

                                            <br /><br />
                                            <div class='row'>
                                                <div class='col-md-3'></div>
                                                @*<div class='col-md-4' style="font-style:italic;color:red">
                                                        &nbsp;  Note:New Password should not match previous @Html.DisplayFor(model => model.NumberOfPreviousPasswordNotAllowed, new { @class = "PaddingTop10" }) passwords
                                                    </div>*@

                                                <div class='col-md-3'></div>
                                            </div>
                                        </form>


                                    </fieldset>
                                    <br />
                                </div>
                                <br />
                            </div>
                            @*<div class="footer">
                                    <div>
                                        <a style="color:#8080ff; font-size:17px;" href="@Url.Action("UserLogin", "Login")" title="Goto Login Page"> <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp; Goto Login Page</a> &nbsp;  &nbsp;
                                    </div>
                                </div>*@
                            <br />

                            <br />

                            <br />
                            <div class='row' id="btnVerifyOTP">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4" style="text-align: center;">
                                        <input type="button" class="btn btn-group-md  btn-success" id="btnChangePassword" value="Change Password" tabindex="5" />
                                        <input type="button" class="btn btn-group-md btn-warning" id="btnReset" value="Reset" tabindex="6" />
                                        @*<input type="button" class="btn btn-group-md btn-danger" id="btnGoToHome" value="Cancel" tabindex="7" />*@
                                    </div>
                                </div>
                            </div>


                            <br />
                            <br />



                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
