@using CustomModels.Models.UserManagement
@using CaptchaLib


@model ECDataUI.Models.UserRegistration.UserActivationViewModel





@{
    Layout = "~/Views/Shared/_LayoutPageWithoutMenus.cshtml";
}



<link href="~/Content/HomePage/dist/css/bootstrap.min.css" rel="stylesheet" />

@*<script src="~/Scripts/ForgotPassword/ForgotPassword.js"></script>*@
<script src="~/Scripts/ForgotPassword/ForgotPassword.min.js"></script>
<style>
    .col-md-4 {
        width: 32.333333% !important;
    }
    /*img {
        width: 35%;
    }*/
</style>






<div class="row" @*style="min-height: 728px;"*@>
    <!------ Include the above in your HEAD tag ---------->
    @*<div class="container">*@
    <!--<div class="Absolute-Center is-Responsive">-->
    <br /><br />
    <div>
        <div class="col-md-6 col-md-offset-3 ">
            <div class="row">
                <div class="panel panel-default" style="width: 100%; box-shadow: 5px 5px 10px #d0d3d4; background: #FBFCFC;">
                    <div class="panel-body">
                        <div class='row well-custom' style="height: 35px; padding-top: 6px;margin-right: 0px;  margin-left: 0px;">


                            <span class="panelHeadingForForm" style="color: #fff;font-size:110%;font-weight: bold;">Recover Password</span>
                        </div>
                        <div id="" class="" style="text-align: center; background: #fff; border: 1px solid #ECF0F1; padding-top: 1%; overflow-y: auto; @*max-height: 400px;*@">
                            <form method="POST" id="ForgotPasswordFormId">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="col-sm-12">
                                    <br>
                                    <fieldset>
                                        <div style="border: solid 1px #d1d1d1; border-radius: 10px; ">
                                            <br />
                                            <div class="row">
                                                @*Changed and added by Shubham Bhagat on 13-4-2019*@
                                                <div class="col-md-2"></div>
                                                <div class="col-md-8">
                                                    <div class="col-md-4 form-group">
                                                        <label style="padding-top: 5px;">Username<span style="color:red;">*</span> </label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control ", @id = "EmailID", @placeholder = "Username", @maxlength = 50, @tabindex = 1 })
                                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-2"></div>
                                                @*<div class="col-md-6">
                                                         <div class="col-md-4 form-group">
                                                             <label style="padding-top: 5px;">Email </label>
                                                         </div>
                                                         <div class="col-md-8 form-group">
                                                             @Html.TextBoxFor(model => model.Email, new { @class = "form-control ", @id = "EmailID", @placeholder = "Email", @maxlength = 50, @tabindex = 1 })
                                                             @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                         </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                         <div class="col-md-4 form-group">
                                                             <label style="padding-top: 5px;">Mobile No</label>
                                                         </div>
                                                         <div class="col-md-8 form-group">
                                                             @Html.TextBoxFor(model => model.MobileNumber, new { @class = "form-control AllowOnlyNumber", @id = "MobileNumber", @placeholder = "Mobile No", @maxlength = 10, @tabindex = 1 })
                                                             @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                                                         </div>
                                                    </div>*@
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                @*<div id="dvCaptcha" class="col-md-offset-3">*@
                                                <center>
                                                    <div id="dvCaptcha" class="col-md-8 form-group">

                                                        @Html.LabelFor(model => model.Captcha)
                                                        @Html.CaptchaFor(model => model.Captcha, "GetCaptchaImage", "Account", null, "Try Another Image? Click Here", new { @placeholder = "Captchasdasd", @title = "Enter the text you see in the image", @class = "form-control captcha-registration ", @style = "text-align:center;", @tabindex = 130, autocomplete = "off" })<br>
                                                        @Html.ValidationMessageFor(model => model.Captcha, "", new { @class = "text-danger" })

                                                    </div>
                                                </center>
                                                <div class="col-md-2"></div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <br>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-primary" id="btnGotoLoginPage">Back</button>

                                        <button type="button" class="btn btn-success" id="btnSubmit">Submit</button>
                                        <button type="reset" class="btn btn-primary" id="btnReset">Reset</button>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <br />
                                    <br />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






