@using CustomModels.Models.UserManagement
@using CaptchaLib


@model CustomModels.Models.UserManagement.ChangePasswordModel




@{
    Layout = "~/Views/Shared/_LayoutPageWithoutMenus.cshtml";
}



 <link href="~/Content/HomePage/dist/css/bootstrap.min.css" rel="stylesheet" />



<script src="~/Scripts/ForgotPassword/ForgotPasswordByLink.min.js"></script>

@*<script src="~/Scripts/CommonJS/sha512.js"></script>
<script src="~/Scripts/CommonJS/md5.js"></script>*@
<script src="~/Scripts/CommonJS/sha512.min.js"></script>
<script src="~/Scripts/CommonJS/md5.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
<div id="responseDivID">

    @if (Model.isToShowResponseMessage)
    {

        <div class="col-md-6 col-md-offset-3 well">
            @Html.Raw(Model.Message);

            <div class="form-group login-panel-bottom">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h5>   <a href="@Url.Action("UserLogin", "Login")"><i class="fa fa-user-plus"></i>Goto Home page</a></h5>
                    </div>
                </div>
            </div>

        </div>
    }
    else
    {
        <div class="container">
            <!--<div class="Absolute-Center is-Responsive">-->
            <div>
                <div class="col-md-6 col-md-offset-3 well">
                    <div class="row">
                        <form method="POST" id="ForgotPasswordByLinkFormId">
                            <div class="col-sm-12">
                                @Html.HiddenFor(x => x.Id)


                                <fieldset>
                                    @*Chnaged by Shubham Bhagat on 22-04-2019*@
                                    @*<legend style="border-bottom-color: black; font-size: large; font-style: oblique; font-family: 'Comic Sans MS'">New Password</legend>*@
                                    <legend style="border-bottom-color: black; font-size: large;">New Password</legend>

                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label>Password </label>
                                            @Html.PasswordFor(model => model.Password, new { @class = "form-control ", @id = "txtPassword", @placeholder = "Password", autocomplete = "off", @maxlength = 20 })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>Confirm Password</label>
                                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control ", @id = "txtConfirmPassword", @placeholder = "Confirm Password", autocomplete = "off", @maxlength = 20 })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </fieldset>
                                <br>

                                <div class="col-md-5 col-md-offset-5">

                                    <button type="button" class="btn btn-group-sm btn-primary" id="btnSubmit">Submit</button>
                                    <button type="reset" class="btn btn-group-sm btn-warning" id="btnReset">Reset</button>


                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>