@model CustomModels.Models.MISReports.ESignConsumptionReport.ESignTotalConsumptionResModel

<!-- #region Total Count -->

<div class="container">
    <div class='row well-custom' style="height: 35px; padding-top: 10px;">
        <span id="" style="margin-left: 05px; font-size: 120%; padding-left: 1%;"></span>
        <span class="" style="color: #FFF; font-size: 120%;">
            Total eSign Consumption Details
        </span>
    </div>
    <div class="panel panel-default" id="totlESignCountDiv" style="width: 100%; box-shadow: 5px 5px 10px #d0d3d4; background: #FBFCFC; display: block;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table id="totaleSignCountDetailsTable" class="table table-striped table-bordered table-condensed table-hover" style="vertical-align: middle;background-color: aliceblue; overflow: hidden; width: 60%;margin-left:15%;margin-top:2%;border-bottom: 1px solid black !important;border-top: 1px solid black !important;border-collapse:inherit;">

                    @if (@Model != null)
                    {
                        <tr>
                            <th style="width:60% ; text-align:center;" colspan="4">Total eSign Consumed Table</th>
                        </tr>

                        <tr>
                            <th style="text-align:left;">Month</th>
                            <th style="text-align:center"> Online EC  </th>
                            <th style="text-align:center">  Online CC  </th>
                            <th style="text-align:center">  Total EC/CC eSign Consumed  </th>
                        </tr>

                        foreach (var item in @Model.ESignConsumptionMonthWiseTableList)
                        {
                            <tr>
                                <td style="text-align:left;"> @Html.Raw(item.MonthAndYear)</td>
                                <td style="text-align:center"> @item.TotalESignConsumedForEC </td>
                                <td style="text-align:center"> @item.TotalESignConsumedForCC </td>
                                <td style="text-align:center"> @item.TotalESignConsumedMonthlyForECCC </td>
                            </tr>
                        }

                        <tr>
                            <td style="text-align:left;"><b>Total eSign consumed <br /> for financial year:</b></td>
                            <td style="text-align:center"><b> @Model.TotalESignConsumedForEC </b></td>
                            <td style="text-align:center"><b> @Model.TotalESignConsumedForCC </b></td>
                            <td style="text-align:center"><b> @Model.TotalESignConsumedForFinYear </b></td>
                        </tr>

                    }

                </table>
            </div>
            <div class="col-md-2">

            </div>

            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span style="padding-left: 18%;"><b>Note:</b> eSigning Facility for Online EC and Online CC is implemented from February 2021 onwards</span>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        
       
        <br />
        
    </div>


</div>
<div class="row" style="margin-top: 0%;">
    <div class="col-md-5"></div>

    <div class='BTNwrapper col-md-2' style="text-align:left;">


        <button type="button" style="width:75%;" class="btn btn-group-md btn-success" id="excelTotaleSignCount" onclick="DownloadTotalCountExcel()"><i style="padding-right:3%;" class="fa fa-file-pdf-o"></i>Download as Excel</button>
    </div>
    <div class="col-md-5" style="padding-left:19%;">
        <h6> <i>  </i></h6>

    </div>
    
</div>
<!-- #endregion Total Count-->
