@model CustomModels.Models.DynamicDataReader.ReadNewDataModel
@using ECDataUI.Helper


<script src="~/Areas/DynamicDataReader/Scripts/ReadNewData/ReadNewData.js"></script>


<style>
    .datepicker {
        z-index: 1600 !important;
    }
    /* Customize the label (the container) */
    .th {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    .containerRadio {
        display: block;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 11px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-top: 4%;
    }

    .dataTables_wrapper {
        font-size: 12px;
        font-family: " Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    /* Hide the browser's default radio button */
    .containerRadio input {
        position: absolute;
        opacity: 0;
    }

    .td {
        font-size: 50px;
    }
    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 19px;
        width: 19px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .containerRadio:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .containerRadio input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .containerRadio input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .containerRadio .checkmark:after {
        top: 6px;
        left: 6px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }

    thead, th {
        text-align: center;
    }

    .multiselect b.caret {
        display: none;
    }

    .btn-group {
        position: relative;
        width: 100%;
    }

    .multiselect {
        width: 100%;
        text-align: left;
    }

    .CheckBoxClass {
        transform: scale(1.5);
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        padding: 10px;
        box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
    }

    .multiselect-container {
        position: absolute;
        width: inherit;
    }

        .multiselect-container > li > a {
            white-space: normal;
        }


    .minimal {
        background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
    }

    /*td {
        word-wrap: break-word;
    }*/

    .textAlignLeft {
        text-align: left;
    }

    th {
        /*// word-wrap: normal;*/
        vertical-align: middle;
    }

    .containerRadio .checkmark:after {
        top: 6px;
        left: 6px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }

    .containerRadio {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 18px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        /*// width:35px;*/
    }

    /*table.dataTable tbody th,
    table.dataTable tbody td {
        white-space: nowrap;
    }*/

    tbody tr.selected {
        color: #6aa0ce;
        background-color: whitesmoke !important; /* Not working */
    }

    /*table.dataTable th {
        white-space: nowrap;
    }*/

    /*table, td {
        word-break: break-all !important;
    }*/

    table.dataTable tbody th {
        white-space: nowrap;
    }

    table td {
        font-family: KNB-TTUmaEN;
        font-weight: 500;
        font-size: medium;
    }

    /*td:last-child, td:nth-last-child(2), td:nth-last-child(3) {
        text-align: right;
    }

    td:nth-last-child(5) {
        text-align: left;
    }*/
    td:nth-child(3), td:nth-child(4) {
        text-align: left;
    }

    table.dataTable tbody th,
    table.dataTable tbody td {
        white-space: nowrap;
    }

    .dataTables_scrollBody {
        overflow-x: auto !important;
        overflow-y: auto !important;
    }

    .modal-open .modal {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    /*.sorting {
        background: url("../../../../Content/DataTables/images/sort_both.png") no-repeat scroll right center transparent;
    }*/
</style>

<div class="container">

    <div class="col-md-offset-0">

        <h3 style="text-align:center;color:#3177b4 ;">Read New Data<span style="color:black;"></span></h3>
        <div class="panel panel-default" id="panelNewBranch" style="width: 100%; box-shadow: 5px 5px 10px #d0d3d4; background: #FBFCFC; display: block;">


            <div class="panel-body">
                <div class='row well-custom' style="height: 35px; padding-top: 10px;">
                    <span id="" style="margin-left: 05px; font-size: 120%; padding-left: 1%;"></span>
                    <span class="" style="color: #FFF; font-size: 120%;">
                        Search Parameters
                    </span>
                </div>
                <div class="" style="text-align: center; background: #fff; border: 1px solid #ECF0F1; padding-top: 1%;padding-bottom:2%;">
                    <form id="SearchParametersForm">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class='row'>
                            @*@Html.HiddenFor(m => m.QueryID, new { id = "QueryIdTxt" })*@
                            <div class="col-md-12 textAlignLeft">
                                <div class="col-md-4" id="DrOfficeList">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.DatabaseList, new { @class = "PaddingTop10", @Id = "lblDatabseList" }, Mandatory.Yes)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.DatabaseName, @Model.DatabaseList, new { @class = "form-control minimal", id = "dbList", autocomplete = "off", tabindex = 1 })
                                        @Html.ValidationMessageFor(model => model.DatabaseName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="col-md-2">
                                        @Html.LabelFor(model => model.Purpose, new { @class = "PaddingTop10", style = "padding-left:4px;" }, Mandatory.Yes)
                                    </div>
                                    <div class="col-md-10">
                                        <div class="date" id="divPurpose" style="display: table; width: 102%; cursor: pointer;">
                                            @Html.TextBoxFor(model => model.Purpose, new { @class = "form-control", @id = "txtPurpose", tabindex = 3 })
                                            @Html.ValidationMessageFor(model => model.Purpose, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class='row'>
                            <div class="col-md-12 textAlignLeft">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        @Html.LabelFor(model => model.QueryText, new { @class = "PaddingTop10", style = "padding-left:4px;" }, Mandatory.Yes)
                                    </div>
                                    <div class="col-md-10">
                                        <div class="date" id="divQueryText" style="display: table; width: 102%; cursor: pointer;">
                                            @Html.TextAreaFor(model => model.QueryText, new { @class = "form-control", @id = "txtQueryText", tabindex = 4, rows = 8, cols = 20 })
                                            @Html.ValidationMessageFor(model => model.QueryText, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-offset-2">

                            <div class="form-group col-md-8">
                                <div class='BTNwrapper' style="padding-left:13%;margin-top:2%;">
                                    <button type="button" class="btn btn-group-md btn-success" id="ExecuteBtn" tabindex="6">Execute</button>
                                </div>
                                <style>
                                    .BTNwrapper {
                                        text-align: center;
                                    }

                                    .button {
                                        position: absolute;
                                        top: 50%;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="MasterTableModel" style="" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-content" style="width:35%;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" id="modelHeadingID" style="text-align: center;">Confrimation Message</h4>
                            <br />
                            <div class="row">

                            </div>
                        </div>

                        <div class="modal-body" @*style="width:50%;"*@>
                            <div class="row"> <span style="font-size:14px">You are going to execute this script on production database. Please confirm that :</span></div>
                            <br />
                            <input type="checkbox" id="confmsg1" name="confrm1" value="" class="compulsory">
                            <label for="confmsg1" style="display: inline">This script has been tested on development database successfully.</label>
                            <br>
                            <input type="checkbox" id="confmsg2" name="confrm2" value="" class="compulsory">
                            <label for="confmsg2" style="display: inline">This is not a long running or resource intensive query.</label>
                        </div>
                        <div class="row" style="align-content: center;text-align: center;padding: 10px;">
                            <button type="button" id="btnAlertYes" class="btn btn-primary" style="margin-right: 30px;" disabled>Yes</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                        @*<div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row" id="QueryDataView" style="width: 100%; box-shadow: 5px 5px 10px #d0d3d4; background: #FBFCFC; display: block;">

</div>






