@model CustomModels.Models.Remittance.QueryExecutionStatusReport.QueryExecutionStatusReportModel
@using ECDataUI.Helper

@{

    //string ToDate = Model.ToDate_Str;

    //string FromDate = Model.fromDate;
    //DateTime MaxDate = Model.maxDate;

    string FromDate = Model.FromDate;
    string ToDate = Model.ToDate;
}


<script src="~/Areas/Remittance/Scripts/QueryExecutionStatusReport/QueryExecutionStatusReport.js"></script>
<script src="~/Areas/Remittance/Scripts/QueryExecutionStatusReport/filesaver.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.js" integrity="sha512-UNbeFrHORGTzMn3HTt00fvdojBYHLPxJbLChmtoyDwB6P9hX5mah3kMKm0HHNx/EvSPJt14b+SlD8xhuZ4w9Lg==" crossorigin="anonymous"></script>*@
<link rel="stylesheet" type="text/css" href="~/Areas/MISReports/Scripts/TodaysDocumentsRegistered/DataTables-1.10.20/css/dataTables.bootstrap.min.css" />
<link href="~/Areas/MISReports/Scripts/TodaysDocumentsRegistered/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<script>
    @*var FromDate = '@FromDate';
    var ToDate = '@ToDate';
    var MaxDate = '@MaxDate';*@
    var FromDate = '@FromDate';
    var ToDate = '@ToDate'
</script>

<style>
    .datepicker {
        z-index: 1600 !important;
    }
    /* Customize the label (the container) */
    .th {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    .containerRadio {
        display: block;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 11px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-top: 4%;
    }

    .dataTables_wrapper {
        font-size: 12px;
        font-family: " Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    /* Hide the browser's default radio button */
    .containerRadio input {
        position: absolute;
        opacity: 0;
    }

    .td {
        font-size: 50px;
    }
    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 19px;
        width: 19px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .containerRadio:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .containerRadio input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .containerRadio input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .containerRadio .checkmark:after {
        top: 6px;
        left: 6px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }

    thead, th {
        text-align: center;
    }

    .multiselect b.caret {
        display: none;
    }

    .btn-group {
        position: relative;
        width: 100%;
    }

    .multiselect {
        width: 100%;
        text-align: left;
    }

    .CheckBoxClass {
        transform: scale(1.5);
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        padding: 10px;
        box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
    }

    .multiselect-container {
        position: absolute;
        width: inherit;
    }

        .multiselect-container > li > a {
            white-space: normal;
        }


    .minimal {
        background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
    }

    /*td {
        word-wrap: break-word;
    }*/

    .textAlignLeft {
        text-align: left;
    }

    th {
        /*// word-wrap: normal;*/
        vertical-align: middle;
    }

    .containerRadio .checkmark:after {
        top: 6px;
        left: 6px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }

    .containerRadio {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 18px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        /*// width:35px;*/
    }

    /*table.dataTable tbody th,
    table.dataTable tbody td {
        white-space: nowrap;
    }*/

    tbody tr.selected {
        color: #6aa0ce;
        background-color: whitesmoke !important; /* Not working */
    }

    /*table.dataTable th {
        white-space: nowrap;
    }*/

    /*table, td {
        word-break: break-all !important;
    }*/

    table.dataTable tbody th {
        white-space: nowrap;
    }

    table td {
        font-family: KNB-TTUmaEN;
        font-weight: 500;
        font-size: medium;
    }

    /*td:last-child, td:nth-last-child(2), td:nth-last-child(3) {
        text-align: right;
    }

    td:nth-last-child(5) {
        text-align: left;
    }*/
    td:nth-child(3), td:nth-child(4) {
        text-align: left;
    }

    table.dataTable tbody th,
    table.dataTable tbody td {
        white-space: nowrap;
    }

    .dataTables_scrollBody {
        overflow-x: auto !important;
        overflow-y: auto !important;
    }

    /*.sorting {
        background: url("../../../../Content/DataTables/images/sort_both.png") no-repeat scroll right center transparent;
    }*/
</style>

<div class="container">

    <div class="col-md-offset-0">

        <h3 style="text-align:center;color:#3177b4 ;">Query Execution Status Report<span style="color:black;"></span></h3>
        <div class="panel panel-default" id="panelNewBranch" style="width: 100%; box-shadow: 5px 5px 10px #d0d3d4; background: #FBFCFC; display: block;">


            <div class="panel-body">
                <div class='row well-custom' style="height: 35px; padding-top: 10px;">
                    <span id="" style="margin-left: 05px; font-size: 120%; padding-left: 1%;"></span>
                    <span class="" style="color: #FFF; font-size: 120%;">
                        Search Parameters
                    </span>
                </div>
                <div class="" style="text-align: center; background: #fff; border: 1px solid #ECF0F1; padding-top: 1%;padding-bottom:2%;">
                    <form id="SearchParametersForm">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="row" style="padding-bottom:1%;">
                            <div class="col-md-12">
                                <div class="col-md-12" style="margin-left:3%;">

                                    <input type="radio" name="rdoReplicaType" value="PR" /> <label>Primary Replica</label>
                                    <input style="margin-left:5%;" value="SR" type="radio" name="rdoReplicaType" /> <label>Secondary Replica</label>
                                    <input style="margin-left:5%;" value="CR" type="radio" name="rdoReplicaType" /> <label>Common Replica</label>

                                </div>
                            </div>
                        </div>

                        <div class='row'>

                            <div class="col-md-12 textAlignLeft">
                                <div class="col-md-3" id="DrOfficeList">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.DatabaseList, new { @class = "PaddingTop10", @Id = "lblDatabseList" }, Mandatory.Yes)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.DatabaseName, @Model.DatabaseList, new { @class = "form-control minimal", id = "DatabaseList", autocomplete = "off", tabindex = 1 })
                                        @Html.ValidationMessageFor(model => model.DatabaseName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.FromDate, new { @class = "PaddingTop10", style = "padding-left:4px;" }, Mandatory.Yes)
                                    </div>
                                    <div class="col-md-7">
                                        <div class="date" id="divFromDate" style="display: table; width: 102%; cursor: pointer;">
                                            @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @id = "txtFromDate", @placeholder = "dd/mm/yyyy", @title = "From Date", @maxlength = 10, tabindex = 3 })
                                            <span class="input-group-addon" style="margin-left: 2px; border: 1px solid #ccc; border-radius: 5px;"><span class="glyphicon glyphicon-calendar CalendarIcon" style=""></span></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.ToDate, new { @class = "PaddingTop10", style = "padding-left:4px;" }, Mandatory.Yes)
                                    </div>
                                    <div class="col-md-8">
                                        <div class="date" id="divToDate" style="display: table; width: 102%; cursor: pointer;">
                                            @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control AllowOnlyNumber", @id = "txtToDate", @placeholder = "dd/mm/yyyy", @title = "To Date", @maxlength = 10, tabindex = 4 })
                                            <span class="input-group-addon" style="margin-left: 2px; border: 1px solid #ccc; border-radius: 5px;"><span class="glyphicon glyphicon-calendar CalendarIcon" style=""></span></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.TopRows, new { @class = "PaddingTop10", style = "padding-left:4px;" }, Mandatory.Yes)
                                    </div>
                                    <div class="col-md-8">
                                        <div class="date" id="divToDate" style="display: table; width: 102%; cursor: pointer;">
                                            @Html.TextBoxFor(model => model.TopRows, new { @class = "form-control AllowOnlyNumber", @id = "txtTopRows", @placeholder = "", @title = "Rows", @maxlength = 10, tabindex = 4 })
                                            @Html.ValidationMessageFor(model => model.TopRows, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>


                    </form>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-offset-2">

                            <div class="form-group col-md-8">
                                <div class='BTNwrapper' style="padding-left:13%;margin-top:2%;">
                                    <button type="button" class="btn btn-group-md btn-success" id="SearchBtn" tabindex="6">Search</button>
                                </div>
                                <style>
                                    .BTNwrapper {
                                        text-align: center;
                                    }

                                    .button {
                                        position: absolute;
                                        top: 50%;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="panel panel-default" id="SearchResult" style="width: 100%; box-shadow: 5px 5px 10px #d0d3d4; background: #FBFCFC; display: block;">
        <div class="panel-body">
            <div id='DtlsSearchParaListCollapse' class="row well-custom collapsed" data-toggle="collapse" data-target="#DtlscollapseSearchPara" aria-expanded="false" aria-controls="DtlscollapseSearchPara" style="height: 35px; padding-top: 10px; cursor: pointer;">
                <span style="cursor: pointer; margin-bottom: 20px;">
                    <span id="DtlsToggleIconSearchPara" class="fa fa-plus-square-o fa-pull-left fa-2x" style="margin-left: 05px; font-size: 103%; padding-top: 2px; color: #FFF"></span>
                </span>
                <span class="" style="color: #fff; font-size: 120%;">Query Execution Status Report</span>
            </div>
            <div id="DtlscollapseSearchPara" class="collapse" style="text-align: center; background: #fff; border: 1px solid #ECF0F1 !important; padding-top: 1%; border-radius: 5px;">
                @*<div class="row" style="text-align:right;"><i><h6 style="padding-right:1%;"><span class="Blink" style="text-align:right"> </span><b><span style="color:red;"></span>Note : This report is based on pre processed data considered upto @Model.maxDate</b> </h6></i></div>*@

                @*Added ReportInfoID to hide/show*@
                <div id="ReportInfoID" class="row" style="text-align:right;"><i><h6><span class="Blink" style="text-align:right"> </span><b><span style="color:red;"></span></b> </h6></i></div>

                <div class="clsTblWrapper divPeriodWise" id="divRevenuePeriodWise" style="text-align: center; margin-left: 1%; margin-right: 1%; margin-bottom: 1%;">


                    <table id="QueryExecutionStatusReportTable" class="table table-striped table-bordered table-condensed table-hover" style="vertical-align: middle; overflow: hidden;  background-color: aliceblue; border: solid; width: 100%;">
                        <thead>
                            <tr>
                                <th style="vertical-align:middle;">Sr No</th>
                                @*<th style="vertical-align:middle;">Database Name</th>*@
                                <th style="vertical-align:middle;">Sql Query</th>
                                <th style="vertical-align:middle;">Query</th>
                                @*<th style="vertical-align:middle;">Object Name</th>
        <th style="vertical-align:middle;">Replica Name</th>*@
                                <th style="vertical-align:middle;">Query Plan XML</th>
                                <th style="vertical-align:middle;">Query Plan XML</th>
                                <th style="vertical-align:middle;">Last Execution Time</th>
                                <th style="vertical-align:middle;">Count Executions</th>

                                <th style="vertical-align:middle;">Total worker time</th>
                                <th style="vertical-align:middle;">Max worker time</th>
                                <th style="vertical-align:middle;">Last worker time</th>

                                <th style="vertical-align:middle;">Total elapsed time</th>
                                <th style="vertical-align:middle;">Max elapsed time</th>
                                <th style="vertical-align:middle;">Last elapsed time</th>

                                <th style="vertical-align:middle;">Total physical reads</th>
                                <th style="vertical-align:middle;">Max physical reads</th>
                                <th style="vertical-align:middle;">Last physical reads</th>

                                <th style="vertical-align:middle;">Total logical reads</th>
                                <th style="vertical-align:middle;">Max logical reads</th>
                                <th style="vertical-align:middle;">Last logical reads</th>

                                <th style="vertical-align:middle;">Total logical writes</th>
                                <th style="vertical-align:middle;">Max logical writes</th>
                                <th style="vertical-align:middle;">Last logical writes</th>


                            </tr>
                        </thead>
                    </table>
                </div>


                <div class="row" style="padding-bottom:1%;">
                    <div class="col-md-5"></div>
                    @*<div class='BTNwrapper col-md-2' style="">
                            <button type="button" style="width:75%;" class="btn btn-group-md btn-success" id="PdfDownload"><i style="padding-right:3%;" class="fa fa-file-pdf-o"></i>Download as PDF</button>
                        </div>*@
                    <div class='BTNwrapper col-md-2' style="text-align:left;">
                        <span id="EXCELSPANID"></span>
                        @*<button type="button" style="width:75%;" class="btn btn-group-md btn-success" id="excelDownload"><i style="padding-right:3%;" class="fa fa-file-pdf-o"></i>Download as Excel</button>*@
                    </div>
                    <div class="col-md-5" style="padding-left:19%;">
                        @*<h6> <i> This Report is generated on:   </i></h6>*@
                    </div>
                </div>
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Query Sql Text</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="modalValue" style="text-align: left; word-break: break-all;white-space: pre-wrap; ">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
<div id="MasterTableModel" style="margin-left: 31%;" class="modal fade " role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>


